*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background: #B2FEFA;
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);
    background: linear-gradient(to right, #0ED2F7, #B2FEFA);
}

.container{
    width: 80%;
    height: fit-content;
    background-color: transparent;
    margin: 150px auto;
}

.container h1 {
    font-size: 2.2rem;
    text-align: center;
    margin: 10px;
    font-weight: 400;
    color: gray;
}

.container h1 span {
    font-weight: 800;
    color: black;
}

.container .time-group{
    width: 95%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container .time-group .minutes{
    text-align: center;
    padding: 20px;
    background-color: lightcoral;
    border-radius: 10px; 
    box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.container .time-group .minutes h2{
    margin-bottom: 5px;
}

.container .info{
    text-align: center;
}
.container .info #emoji-work,
.container .info #emoji-pause{
    margin-inline: auto;
    width: fit-content;
    padding: 5px 8px;
    background-color: white;
    border-radius: 10px;
    display: none;
    box-shadow: -2px 0px 35px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 0px 35px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 0px 35px 0px rgba(0, 0, 0, 0.75);
    animation: pulse 2s infinite;
}

.container .btn-group{
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container .btn-group button{
   padding: 15px 0;
   background-color: #fff;
   border-radius: 10px;
   border: none;
   display: inline-block;
   min-width: 90px;
   cursor: pointer;
}
.container .btn-group #start{
   display: block;
}
.container .btn-group #reload{
   display: none;
}